#container{
    width: 80%;
    margin: 0 auto;
}
img{
    width: 30%;
    margin: 1.4%;
}
#container p{
    margin-left: 8px;
    font-size: 40px;
    font-family: 'Langar', cursive;
    text-transform: uppercase;
    border-bottom: 2px solid red;
    padding-bottom: 10px;
    width: 23%;
}
p{
    margin-left: 11%;
}